<h2>Timesheet Approval</h2>
<table class="table table-border">
  <thead>
    <th>Site Code</th>
    <th>Contractor Name</th>
    <th>Total Hours</th>
    <th>Total Amount</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr *ngFor='let cards of timeCards; trackBy:trackByFn'>
      <!-- <td>{{cards._id}}</td> -->
      <td>{{cards.code}}</td>
      <td>{{cards.contractor}}</td>
      <td>{{cards.totalHours}}</td>
      <td>{{cards.totalAmount}}</td>
      <td *ngIf="cards.approved; else approveElseBlock">Approved</td>
      <td><ng-template #approveElseBlock>
        <td>
        <button type="submit" (click)="approve(cards._id)">Approve</button>
        <button type="submit" (click)="deny(cards._id)">Deny</button>
        </td>
      </ng-template></td>
    </tr>
  </tbody>
</table>