

<nav class="sidenav">
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="list">Job Code Management</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="machines">Machine Management</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="admin">Timecard Approval</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="contractor">contractor</a></li>
    </ul>
  </div>
</nav>

<div style="width:80%;float:right;">
    <router-outlet></router-outlet>
</div>

