

<!-- <nav class="sidenav">
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="list">Job Code Management</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="machines">Machine Management</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="admin">Timecard Approval</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="contractor">contractor</a></li>
    </ul>
  </div>
</nav> -->
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar navbar-light" style="background-color: #ddeeff;">
        <a href="#" class="navbar-brand">
            <img src="https://image.shutterstock.com/image-photo/disaster-recovery-data-loss-prevention-450w-1276258972.jpg"
                height="70" width="70" alt="DR">
        </a>
        <!-- <h2 class="underlineHover" routerLink="home" routerLinkActive="active"> Home </h2> -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div *ngIf="logged" class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <div *ngIf="Admin===true; then admin; else contractor;"></div>

                <ng-template #admin>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/home']" id="home"><span
                                    class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/list']" id="list"><span
                                    class="glyphicon glyphicon-list" aria-hidden="true"></span>Job Management</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/machines']" id="machines"><span
                                    class="glyphicon glyphicon-machines" aria-hidden="true"></span>Machines
                                Management</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/admin']" id="admin"><span
                                    class="glyphicon glyphicon-admin" aria-hidden="true"></span>Timecard Approval</a>
                        </li>
                    </ol>
                </ng-template>

                <ng-template #contractor>
                    <li class="breadcrumb-item"><a [routerLink]="['/home']" id="home"><span
                                class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/contractor']" id="contractor"><span
                                class="glyphicon glyphicon-admin" aria-hidden="true"></span>Timecard Management</a></li>
                </ng-template>
            </div>

            <div class="breadcrumb-menu">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                    <a (click)="logout()" id="login"><span class="glyphicon glyphicon-log-in"
                            aria-hidden="true"></span><i class="cui-logout"></i>logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div style="width:80%;float:right;">
    <router-outlet></router-outlet>
</div>

