
<br/>
<h4 style="text-align:left">Machine Management</h4>

<a routerLink="add" routerLinkActive="active" style="float:initial" >Add New</a>

<div class="container">
<table class="table table-boarder">
  <thead>
    <tr>
      <th>Machine code</th>
      <th>Description</th>
      <th>Hourly Rent/Hr</th>
      <th>Max.Hours per day<br/>Hr</th>
      <th></th>
      <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor ="let m of machines">
        <td>{{m.code}}</td>
        <td>{{m.description}}</td>
        <td>{{m.rent|currency}}</td>    
        <td>{{m.maxHours}}</td>
        <td><button (click)="updatemachine(machine._id)">Edit</button></td> 
        <td><button (click)="deletemachine(machine._id)">Delete</button></td>  
     </tr>
</tbody>
</table>
</div>