<h2>Timesheet Submission</h2>
<form [formGroup]="timecardForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Site Code</label>
      <input type="text" formControlName="sitecode" class="form-control">
    </div>
  
    <div>
      <label>Contractor Name</label>
      <input type="text" formControlName="contractor" class="form-control">
    </div>

    <h2>Labor Entry</h2>
    <div formArrayName="labors">
        <div *ngFor="let labor of timecardForm.controls.labors.controls; let i=index" class="panel panel-default">
          <div class="panel-heading">
            <span>Labor {{i + 1}}</span>
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="timecardForm.controls.labors.controls.length > 1" (click)="removeLabor(i)">(Delete)</span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <div class="form-group col-xs-6">
              <label>Labor Code</label>
              <input type="text" class="form-control" formControlName="laborCode">
              <!-- <small [hidden]="timecardForm.controls.machines.controls[i].controls.machineCode.valid" class="text-danger">
                  Street is required
              </small> -->
            </div>
            <div class="form-group col-xs-6">
              <label>Hours Worked</label>
              <input type="text" class="form-control" formControlName="hoursWorked" >
            </div>
            <div class="form-group col-xs-6">
                <label>Total</label>
                <input type="text" class="form-control" formControlName="total">
                
              </div>
          </div>
        </div>
      </div>
      <div class="margin-20">
          <a (click)="addLabor()" style="cursor: default">
            Add Another labor entry +
          </a>
        </div>
    <h2>Machine Entry</h2>
    <div formArrayName="machines">
        <div *ngFor="let machine of timecardForm.controls.machines.controls; let i=index" class="panel panel-default">
          <div class="panel-heading">
            <span>Machine {{i + 1}}</span>
            <span class="glyphicon glyphicon-remove pull-right" *ngIf="timecardForm.controls.labors.controls.length > 1" (click)="removeMachine(i)">(Delete)</span>
          </div>
          <div class="panel-body" [formGroupName]="i">

              <div class="form-group">
                  <select class="form-control" formControlName="machineCode" (change)="setMachineRent(machines[$event.target.selectedIndex],i)">
                      <!-- <option [ngValue]="undefined" disabled> Select a city </option> -->
                      <option *ngFor="let m of machines" [ngValue]="m"> {{m.code}} </option>

                  </select>
                  </div>
                  <b>{{machineRent}}</b>

            <div class="form-group col-xs-6">
              <label>Hours Used</label>
              <input type="text" class="form-control" #hoursUsed formControlName="hoursUsed"(keyup)="setMachineHours(hoursUsed.value,i)">
            </div>
            <div class="form-group col-xs-6">
                <label>Total</label>
                <b>{{this.machineTotals[i]}}</b>
                <input type="text" class="form-control" formControlName="total" placeholder="{{this.machineTotals[i]}}" [attr.disabled]="true">
              </div>
          </div>
        </div>
      </div>

      <div class="margin-20">
          <a (click)="addMachine()" style="cursor: default">
            Add another machine entry +
          </a>
        </div>
    <button type="submit">Submit form</button>
  </form>