<h2>Timesheet Submission</h2>
<form [formGroup]="timecardForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Site Code</label>
    <input type="text" formControlName="sitecode" class="form-control">
  </div>

  <div>
    <label>Contractor Name</label>
    <input type="text" formControlName="contractor" class="form-control">
  </div>

  <h2>Job Entry</h2>
  <div formArrayName="jobs">
    <div *ngFor="let job of timecardForm.controls.jobs.controls; let i=index" class="panel panel-default">
      <div class="panel-heading">
        <span>Job {{i + 1}}</span>
        <span class="glyphicon glyphicon-remove pull-right" *ngIf="timecardForm.controls.jobs.controls.length > 1"
          (click)="removeJob(i)">(Delete)</span>
      </div>
      <div class="panel-body" [formGroupName]="i">

        <div class="form-group">
          <label>Job Code</label>
          <select class="form-control" formControlName="jobCode"
            (change)="setJobRent(jobs[$event.target.selectedIndex],i)">
            <option *ngFor="let j of jobs" [ngValue]="m"> {{j.code}} </option>
          </select>
        </div>

        <div class="form-group col-xs-6">
          <label>Hours Worked</label>
          <input type="text" class="form-control" #hoursWorked formControlName="hoursWorked"
            (keyup)="setJobHours(hoursWorked.value,i)">
        </div>
        <div class="form-group col-xs-6">
          <label>Total</label>
          <input type="text" class="form-control" placeholder="{{this.jobTotals[i]}}" [attr.disabled]="true">
        </div>
      </div>
    </div>
  </div>
  <div class="margin-20">
    <a (click)="addJob()" style="cursor: default">
      Add Another job entry +
    </a>
  </div>
  <h2>Machine Entry</h2>
  <div formArrayName="machines">
    <div *ngFor="let machine of timecardForm.controls.machines.controls; let i=index" class="panel panel-default">
      <div class="panel-heading">
        <span>Machine {{i + 1}}</span>
        <span class="glyphicon glyphicon-remove pull-right" *ngIf="timecardForm.controls.jobs.controls.length > 0"
          (click)="removeMachine(i)">(Delete)</span>
      </div>
      <div class="panel-body" [formGroupName]="i">

        <div class="form-group">
          <label>Machine Code</label>
          <select class="form-control" formControlName="machineCode"
            (change)="setMachineRent(machines[$event.target.selectedIndex],i)">
            <option *ngFor="let m of machines" [ngValue]="m"> {{m.code}} </option>

          </select>
        </div>
        <div class="form-group col-xs-6">
          <label>Hours Used</label>
          <input type="text" class="form-control" #hoursUsed formControlName="hoursUsed"
            (keyup)="setMachineHours(hoursUsed.value,i)">
        </div>
        <div class="form-group col-xs-6">
          <label>Total</label>
          <input type="text" class="form-control" placeholder="{{this.machineTotals[i]}}" [attr.disabled]="true">
        </div>
      </div>
    </div>
  </div>

  <div class="margin-20">
    <a (click)="addMachine()" style="cursor: default">
      Add another machine entry +
    </a>
  </div>
  <button type="submit">Submit form</button>
</form>