<div class="col-md-3">
    <h2>Edit Machine</h2>
    <form [formGroup]="editForm" (ngSubmit)="edit(editForm)">

        <div class="form-group">
            <label>code:</label>
            <input type="text" formControlName="code" placeholder="code" class="form-control">
        </div>

        <div class="form-group">
            <label>Description:</label>
            <input type="text" formControlName="description" placeholder="description" class="form-control">
        </div>

        <div class="form-group">
            <label>rent:</label>
            <input type="text" formControlName="rent" placeholder="rent" class="form-control">
        </div>

        <div class="form-group">
            <label>maxHours:</label>
            <input type="text" formControlName="maxHours" placeholder="maxHours" class="form-control">
        </div>

        <button type="submit" (click)="edit" class="btn btn-info">Edit</button>
        <a [routerLink]="['/machines']" class="btn btn-info" id="machines"><span class="glyphicon glyphicon-machines" aria-hidden="true"></span>Back to machines</a>
    </form>
</div>