
  
<div class="wrapper">
    <div id="formContent">
      <h2 class="underlineHover" routerLink="/login" routerLinkActive="active"> Login </h2>
      <h2 class="underlineHover" routerLink="/signup" routerLinkActive="active">Register </h2>
      <router-outlet></router-outlet>
    </div>
  </div>
























<!-- 
<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p> -->

























<!-- 

<div class="login">
  <h2 class="login-header">Log in</h2>

  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="onSubmit()">

    <p [ngClass]="{ 'has-error': Submitted && formControls.f.username.errors }">
      <input type="username" placeholder="username" formControlName="username">
    </p>

    <div *ngIf="Submitted && formControls.f.username.errors" class="help-block">
      <div *ngIf="formControls.f.username.errors.required">username is required</div>
    </div>

    <p [ngClass]="{ 'has-error': Submitted && formControls.f.password.errors }">
      <input type="password" placeholder="Password" formControlName="password">
    </p>

    <div *ngIf="Submitted && formControls.f.password.errors" class="help-block">
      <div *ngIf="formControls.f.password.errors.required">Password is required</div>
    </div>

    <p>
      <input type="submit" value="Log in">
    </p>
  </form>
</div> -->




<!-- <p>
  login works!
</p>
<div class="container">
  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">
  </div>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div> -->
<!-- 
<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div> -->